<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] [%c{1}.%M] - %m%n" />
		</layout>
	</appender>
	<logger name="org.bidziil" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.apache.myfaces" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.primefaces" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</logger>
</log4j:configuration>